.appbar{
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    /* border: solid black; */
}

.heading{
    font-size: x-large;
    font-weight: 500;
    margin-left: 4%;
    /* border: solid black; */
}

@media screen and (min-width: 1024px) {
    .icon {
        display: none !important;
    }
}

.icon{
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    /* border: solid black; */
    padding: auto;
}

.links{
    /* border: solid black; */
    margin: auto auto  ;
    align-items: baseline;
}

.refl{
    text-decoration: none;
    color: gray;
    /* border: solid magenta; */
    padding: 0.5rem;
    font-size: 0.9rem;
}

.refl:hover,
.refl:active{
    text-decoration: underline;
    color: black;
}

@media screen and (max-width: 1024px) {
    .refl {
        display: none !important;
    }
}

.option{
    text-decoration: none;
    color: gray;
}

.option:active{
    text-decoration: underline;
    color: black;
}