.blogPosts{
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 400;
    color: red;
   
}
a { color: inherit; } 
.head{
    margin-top: 1rem;
    font-size: x-large;   
}
.container{
    margin-bottom: 4rem;
    /* border: solid black; */
}
/* @media screen and (min-width: 1024px) {
  .head {
      width: 100% !important;
  }
} */
.sub-container{
    margin-bottom: 4rem;
}
.heading{
    font-size: x-large;
}

.paraHeading{
    font-size: x-large;
    color:rgb(79, 79, 230);
    margin-top: 2rem;
   
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    width: 8rem;
    padding-left: 1rem;
}
.social-icon{
  display: flex ;
  justify-content:space-around;
  align-content: center;
  /* background-color: #FFFFFF;
  z-index: 100; */
}
.button{
    display: flex ;
    justify-content: center;
    align-content: center;
}
.social-logo{
    height: 60%;
    width: 50%;
}
.discription{
    margin-bottom: 3rem;
    margin-top: 1rem;
   
}
.sub-container{
    display: grid;
    grid-template-columns: 60% 40%;
    /* border: solid black; */
}
 

.img{
    /* margin-right: auto; */
    /* margin-left: 7rem; */
     width: 100%;
    height: auto;
    /* border: solid black; */
}
.parag{
    margin-top: 2rem;
    /* border: solid black; */
}

.linkedin{
    /* font-weight: 900; */
    width: 12rem;
    height: 5rem;
    padding-right: 2rem;
    background:  #0077b5;
    border: 1px solid rgb(36, 47, 126);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
}
.linkedin:hover,
.linkedin:active{
    background-color: initial;
    background-position: 0 0;
    color:  #0077b5;
}
 
  .twitter:active {
    opacity: .5;
  }
.twitter{
    /* width: 40%; */
    /* font-weight: 900; */
    width: 12rem;
    height: 5rem;
    padding-right: 2rem;
    background:  rgb(29, 161, 242);
    border: 1px solid rgb(9, 118, 158);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    /* font-weight: 800;
    padding: 12px 14px; */
  }
 
  .twitter:hover,
  .twitter:active {
    background-color: initial;
    background-position: 0 0;
    color:  rgb(29, 161, 242);
  }
 
  .twitter:active {
    opacity: .5;
  }
.medium {
    /* font-weight: 900; */
    width: 12rem;
    height: 5rem;
    padding-right: 2rem;
    background-color: black;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    /* font-weight: 800; */
    /* padding: 12px 14px; */
   
  }
 
  .medium:hover, .medium:active{
    background-color:white;
    background-position: 0 0;
    color: black;
    /* color: #D05270; */
  }
 
 
  .medium:active {
    opacity: .5;
  }
  /* @media screen and (max-width: 1024px) {
    .box {
        display: none !important;
    }
    .contentcontain{
      width: 170% !important;
  }
} */
  .box{
    /* margin-right: 200rem; */
    /* border: solid black; */
  }
 
  .logoPic{
   margin: auto;
    width: 150px;
    height: 250px;
    /* background-position: 50%; */
    /* margin-bottom: 20em; */
    transform: rotate(-90deg);
    border-radius: 20px;
    background: linear-gradient(0deg, #D05270 0%, #D05270 100%), #3D62E5;
    /* border: solid black; */
 
  }
  .logoPic > img{
    /* margin-bottom: 200em; */
    background-position: 25%;
    width: 18.75em;
    height: 25em;
    transform: rotate(90deg);
    /* border: solid black; */
  }
/*  
.pink_box{
  margin-right: 20rem;
  width: 10.5em;
  height: 20em;
  transform: rotate(-90deg);
  border-radius: 20px;
  background: linear-gradient(0deg, #D05270 0%, #D05270 100%), #3D62E5;
}
 
.pink_box > img{
  width: 18.75em;
  height: 25em;
  transform: rotate(90deg);
} */

/* .button{
  /* border: solid black; */
  /* margin: 10% auto; */
/* }  */